<p id="notice"><%= notice %></p>

<% if current_user.role == 'admin' %>
	<p>
		<strong>First Name</strong>
		<%= @account.user.first_name %>
	</p>

	<p>
		<strong>Last Name</strong>
		<%= @account.user.last_name %>
	</p>
<% end%>

<p>
  <strong>Account Number:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency @account.balance %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type.capitalize %>
</p>

<% if current_user.role == 'client' %>
	<%= link_to 'Make A Deposit', deposit_path(id: @account.id), class: 'btn btn-info' %> | <%= link_to 'Make A Withdrawal', withdrawal_path(id: @account.id), class: 'btn btn-danger' %> | <%= link_to 'Transfer Funds', transfer_path(id: @account.id), class: 'btn btn-warning' %>
<% end %>

<h3>Transaction History:</h3>

<table class="table">
  <thead>
    <tr>
    	<th>Date</th>
      <th>Time</th>
	    <th>Transaction Type</th>
	    <th>Amount</th>
      <th>Previous Balance</th>
      <th>Available Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
      	<td><%= history.created_at.strftime("%B %d, %Y") %></td>
        <td><%= history.created_at.strftime("%I:%M:%P") %></td>
      	<% if history.before_value.to_f > history.after_value.to_f %>
      		<td>Withdrawal</td>
      	<% else %>
      		<td>Deposit</td>
      	<% end %>
	      <td><%= number_to_currency "#{(history.before_value.to_f - history.after_value.to_f).abs}" %></td>
	      <td><%= number_to_currency history.before_value.to_f %></td>
        <td><%= number_to_currency history.after_value.to_f %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Dashboard', root_path, class: 'btn btn-warning' %>
